@import "tailwindcss";
@config "../tailwind.config.js";
@plugin "tailwindcss-animate";

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  color-scheme: dark light;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
@layer base {
  :root {
    --background: 241.2 0% 92%;
    --foreground: 241.2 0% 6%;
    --card: 241.2 0% 92%;
    --card-foreground: 241.2 0% 11%;
    --popover: 241.2 0% 96%;
    --popover-foreground: 241.2 95% 2%;
    --primary: 241.2 54.6% 36.3%;
    --primary-foreground: 0 0% 100%;
    --secondary: 241.2 10% 74%;
    --secondary-foreground: 0 0% 0%;
    --muted: 279.2 10% 87%;
    --muted-foreground: 241.2 0% 36%;
    --accent: 279.2 10% 82%;
    --accent-foreground: 241.2 0% 11%;
    --positive: 140 50% 34%;
    --positive-foreground: 0 0% 100%;
    --destructive: 0 50% 34%;
    --destructive-foreground: 241.2 0% 92%;
    --border: 241.2 20% 56.4%;
    --input: 241.2 20% 24.4%;
    --ring: 241.2 88.7% 45.3%;
    --radius: 0.7rem;
    --sidebar-background: 241, 0%, 87%;
    --sidebar-foreground: 241, 0%, 5%;
    --sidebar-primary: 241, 55%, 33%;
    --sidebar-primary-foreground: 0, 0%, 100%;
    --sidebar-accent: 279, 10%, 78%;
    --sidebar-accent-foreground: 0 0% 0%;
    --sidebar-border: 241, 20%, 54%;
    --sidebar-ring: 231, 98%, 45%;
  }

  .dark {
    --background: 241.2 10% 6%;
    --foreground: 241.2 0% 92%;
    --card: 241.2 0% 2%;
    --card-foreground: 241.2 0% 92%;
    --popover: 241.2 10% 5%;
    --popover-foreground: 241.2 0% 92%;
    --primary: 241.2 54.6% 36.3%;
    --primary-foreground: 0 0% 100%;
    --secondary: 241.2 10% 12%;
    --secondary-foreground: 0 0% 100%;
    --muted: 279.2 10% 17%;
    --muted-foreground: 241.2 0% 61%;
    --accent: 279.2 10% 17%;
    --accent-foreground: 241.2 0% 91%;
    --positive: 140 50% 34%;
    --positive-foreground: 0 0% 100%;
    --destructive: 0 50% 34%;
    --destructive-foreground: 241.2 0% 92%;
    --border: 241.2 20% 24.4%;
    --input: 241.2 20% 24.4%;
    --ring: 241.2 88.7% 45.3%;
    --radius: 0.7rem;
    --sidebar-background: 241, 10%, 8%;
    --sidebar-foreground: 241, 0%, 100%;
    --sidebar-primary: 241, 55%, 29%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 279, 10%, 14%;
    --sidebar-accent-foreground: 0 0% 100%;
    --sidebar-border: 241, 20%, 23%;
    --sidebar-ring: 231, 98%, 45%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
